body{
    overflow-x: hidden;
    background-color: rgb(110, 153, 182);
  }
  .main{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub{
    background-color: rgb(173, 68, 68);
    width: 500px;
   
  }
  
  .result{
    height: 150px;
    background-color:rgb(136, 207, 247) ;
  }

  #cal{
    margin-left: 100px;
    color: rgb(255, 255, 255);
  }

#res{
  margin-left: 100px;
}

#cal{
  margin-left: 40px;
}